@(contacts: List[Contact], user: User)

@main {
    <table class="table table-bordered table-condensed table-hover table-responsive">
        <thead>
            <tr>
                <th>name</th>
                <th>surname</th>
                <th>email</th>
                <th>company name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        @for(p <- contacts) {
            <tr>
                <td>@p.name</td>
                <td>@p.surname</td>
                <td>@p.email</td>
                <td>@p.companyName</td>
                <td><a href="/delete?Id=@p.id">delete</a> <a href="/editContact?Id=@p.id">edit</a> </td>
            </tr>
            }
        </tbody>
    </table>
    <a href="/addContact"><span class="glyphicon glyphicon-plus"> add</span></a>
}