
<!DOCTYPE html>

<html>
    <head>
        <title>CRM</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">
        <script type="text/javascript" src="@routes.Assets.at("lib/jquery/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("lib/bootstrap/js/bootstrap.js")"></script>
        <link href="@routes.Assets.at("stylesheets/fileinput.css")" media="all" rel="stylesheet" type="text/css" />
        <link href="@routes.Assets.at("javascripts/fileinput.js")" media="all" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="@routes.Assets.at("javascripts/hello.js")"></script>

    </head>
<body>
    <div class="page-header">
        <h1> CRM <small>Customer Relationship Management</small></h1>
    </div>