@(form: Form[User])
@main {
    <div class="container">
    @helper.form(routes.Application.login, 'class -> "form-signin") {
        <h2 class="form-signin-heading">Log in</h2>
        @helper.inputText(form("name"),
            'class ->"form-control",
            'type -> "text",
            'placeholder -> "Name",
            'label ->""
        )
        @helper.inputPassword(form("password"),
            'class ->"form-control",
            'type -> "password",
            'placeholder -> "Password",
            'label ->""
        )
        @*<input class="form-control" type="text" name="name" placeholder="Name" value="@form("name").value">*@
        @*<input class="form-control" type="password" name="password" placeholder="Password">*@
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        @if(form.hasGlobalErrors) {
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Error </strong>@form.globalError.message
            </div>
        }
    }
    </div>
}